.content .box-texto{
    position: relative;
    max-width: 600px;
}
.content .boxtexto h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .box-texto h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 700;
}
.content .box-texto p{
    color: #333;
}

.saibaMais{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}